html,body{height:100%;
}
body{
	margin:0;
	font-family:arial,helvetica,sans-serif;
}
header{
	height:60px;
	background:coral;
	color:#fff;
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:0 20px;
}
.main-title{margin:0;}
.nav-links{
	list-style:none;
	padding:0;
	display:flex;
}
.nav-links li{
	margin-left:20px;
}
.nav-links li a{
	color:#fff;
	text-decoration:none;
	padding:10px 0;
	transition:0.3s;
}
.nav-links li a:hover{
	border-bottom:5px solid #fff;
}
main{
	font-size:30px;
}
footer{
	height:60px;
	background:#222;
	color:#fff;
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:0 20px;
}
.products{
	display:flex;
	justify-content:space-around;
}
.box{
	width:150px;
	height:150px;
	background:limegreen;
	margin:20px;
	border-radius:50%;
}